@model IEnumerable<JobPostLibrary.JobPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>@Html.ActionLink("Requests", "Requests")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDateToApply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacancies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDateToApply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vacancies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.PostId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.PostId  })
        </td>
    </tr>
}

</table>
